<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="../../css/style.css">
    <script src="/js/validationCommon.js"></script>
    <script src="/js/validationUser.js"></script>
</head>
<body>
    <%- include('../../fragments/header.ejs') %>

    <main>
        <h2><%= pageTitle %></h2>
        <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">
            <input type="hidden" name="id" value="<%= user.id %>">
            <label for="firstname">Imie <span class="symbol-required">*</span></label>
            <input name="firstname" id="imie" type="text" placeholder="2-60 znaków" value="<%= user.firstname %>" class="<%= validationErrors.find(e => e.path.includes('firstname')) ? 'error-input' : ''%>" <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
            <span id="errorName" class="errors-text">
                <% if(validationErrors.find(e => e.path.includes('firstname'))) { %>
                    <%= validationErrors.find(e => e.path.includes('firstname')).message %>
                <% } %>
            </span>
            <label for="lastname">Nazwisko <span class="symbol-required">*</span></label>
            <input name="lastname" id="nazwisko" type="text" placeholder="2-60 znaków" value="<%= user.lastname %>" class="<%= validationErrors.find(e => e.path.includes('lastname')) ? 'error-input' : ''%>" <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
            <span id="errorSurname" class="errors-text">
                <% if(validationErrors.find(e => e.path.includes('lastname'))) { %>
                    <%= validationErrors.find(e => e.path.includes('lastname')).message %>
                <% } %>
            </span>
            <label for="email">E-mail <span class="symbol-required">*</span></label>
            <input name="email" id="email" type="text" placeholder="2-60 znaków" value="<%= user.email %>" class="<%= validationErrors.find(e => e.path.includes('email')) ? 'error-input' : ''%>" <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
            <span id="errorMail" class="errors-text">
                <% if(validationErrors.find(e => e.path.includes('email'))) { %>
                    <%= validationErrors.find(e => e.path.includes('email')).message %>
                <% } %>
            </span>
            <label for="phonenumber">Numer telefonu</label>
            <input name="phonenumber" id="nr_telefonu" type="text" placeholder="9 cyfrowa liczba" value="<%= user.phonenumber %>" class="<%= validationErrors.find(e => e.path.includes('phonenumber')) ? 'error-input' : ''%>" <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errorPhone" class="errors-text">
                <% if(validationErrors.find(e => e.path.includes('phonenumber'))) { %>
                    <%= validationErrors.find(e => e.path.includes('phonenumber')).message %>
                <% } %>
            </span>
            <% if (formMode == 'showDetails') { %>
                <div class="section-buttons">
                    <a href="/uzytkownik/edit/<%= user.id %>" class="button-edit">Edytuj</a>
                </div>
            <% } %>
            <div class="form-buttons">
                <input type="submit" value="<%= btnLabel %>" class="form-button-submit">
                <a href="/users" class="form-button-cancel">Anuluj</a>
            </div>
        </form>
        <p id="errorsSummary"></p>
    </main>
    <%- include('../../fragments/footer.ejs') %>

    <!-- <script>
        document.querySelector('form').addEventListener('submit', (e) => {
            e.preventDefault();
            let conf = confirm('Czy chcesz kontynuowac?');
            if(conf) {
                document.querySelector('form').submit();
            }
        })
    </script> -->
</body>
</html>